@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Roboto&display=swap");

.player {
  width: 370px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.timeline {
  display: flex;
  margin: 5px 0;
}

.timeline-chunk {
  background-color: #717171;
  height: 2px;
  width: 100%;
  border-radius: 1px;
}

.timeline-chunk + .timeline-chunk {
  margin-left: 2px;
}

.timeline-chunk-inner {
  height: inherit;
  background-color: white;
  border-radius: inherit;
}

.timeline-chunk-active > .timeline-chunk-inner,
.timeline-chunk-active ~ .timeline-chunk > .timeline-chunk-inner {
  width: 0;
}

.player-content-wrapper {
  position: relative;
}

.player-content img {
  width: 100%;
}

.player-chunk {
  position: relative;
  display: none;
}

.player-chunk-overlay {
  position: absolute;
  user-select: none;
}

.player-chunk-active {
  display: block;
}

.player-chunk-switcher {
  position: absolute;
  z-index: 1;

  height: 100%;
  width: 30%;
}

.player-chunk-prev {
  top: 0;
  left: 0;
}

.player-chunk-next {
  top: 0;
  right: 0;
}

/* анимация */
@keyframes scale {
  50% {
    transform: scale(2);
  }
}
.watercolor {
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px #000;
  font-family: "Lobster", cursive;
  font-size: 25px;

  background: url("../img/blue-watercolor-brush.png") no-repeat center;
  background-size: contain; /*вписывайся*/
}

.question {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  color: #000;
  font-size: 15px;
  padding: 15px;

}

.question-answers {
  display: flex;
  margin-top: 10px;
}

.question-answers > button {
  padding: 5px;
  width: 100%;
  margin: 0;
  border: none;
}
.question-answers > button + button{
  margin-left: 5px;
}
