body {
    margin: 0;
    background-color: #262626;
}

.player {
    width: 370px;
    margin: 0 auto;
}

.timeline {
    display: flex;
    margin: 5px 0;
}

.timeline-chunk {
    background-color: #717171;
    height: 2px;
    width: 100%;
    border-radius: 1px;
}

.timeline-chunk + .timeline-chunk {
    margin-left: 2px;
}

.timeline-chunk-inner {
    height: inherit;
    background-color: white;
    border-radius: inherit;
    width: 0;
}

.player-content {
    position: relative;
}

.player-content img {
    width: 100%;
}

.player-chunk {
    display: none;
}

.player-chunk-active {
    display: block;
}

.player-chunk-switcher {
    position: absolute;
    height: 100%;
    width: 30%;
}

.player-chunk-prev {
    top: 0;
    left: 0;
}

.player-chunk-next {
    top: 0;
    right: 0;
}